@use "../styles/theme.scss";

:local(.safernet-popover) {
  width: 100%;

  @media(min-width: theme.$breakpoint-lg) and (min-height: theme.$breakpoint-vr) {
    padding-top: 8px;
    width: 360px;
  }

  p {
    text-align: left;
    line-height: 1.6em;
  }

}

:local(.titleBox) {
  font-size: 1.8rem;
  text-align: center;
  margin: 0.5em auto;
  font-weight: 700;
  display: block;
}